.content-block.intro
  .headline
    h1 Welcome
    p I hope my site will; <br/> Help you understand who I am.<br/> Motivate you to go chase your dreams.<br/> Teach you something you didnt know.<br/> Or simply add some entertainment to your life.<br/><br/> Enjoy.<br/><br/> <b>Tommy Byrne</b> - Christian, Husband, Developer, Dreamer


